.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-container .modal-inner {
  width: 50%;
  height: 60vh;
  background-color: #fff;
  padding: 1rem 1rem;
}
.modal-container .modal-inner .modal-inner-first {
  display: flex;
}
.modal-container .modal-inner .modal-inner-first .modal-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;

  row-gap: 10px;
  padding: 1rem 2rem;
}
.modal-container
  .modal-inner
  .modal-inner-first
  .modal-content
  .modal-content-left
  h3 {
  margin-bottom: 10px;
}
.modal-container
  .modal-inner
  .modal-inner-first
  .modal-content
  .modal-content-right
  p {
  border: 1px solid #ccc;
  padding: 0.2rem 2rem;
  margin-bottom: 10px;
}
.modal-container
  .modal-inner
  .modal-inner-first
  .modal-content
  .modal-content-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
.modal-container
  .modal-inner
  .modal-inner-first
  .modal-content
  .modal-content-right
  p:last-child {
  margin-top: 10px;
}
.modal-container
  .modal-inner
  .modal-inner-first
  .modal-content
  .modal-content-right
  span {
  text-align: center;
  padding: 0.3rem 1rem;

  border: 1px solid #ccc;
}
.button-box {
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  width: 70%;
}
.modal-image {
  width: 150px;
  height: 100px;
}
.modal-close {
  text-align: right;
}
.btn-save-cancel {
  text-align: center;
}
.btn-save-cancel button {
  margin: 0px 10px;
  background-color: green;
  color: #fff;
  font-size: 1.3rem;
  border: 1px solid white;
  width: 50%;
  padding: 0.5rem 0;
}
.btn-save-cancel button:active {
  background-color: rgb(97, 203, 97);
}
